<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714763980316-fmndkv7pivbcref36pb76oclkfo3lk6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714763980316-fmndkv7pivbcref36pb76oclkfo3lk6j</string>
	<key>API_KEY</key>
	<string>AIzaSyC_WKJJM7nijwFpmhV6gxxdnHw7AQ9Dbfg</string>
	<key>GCM_SENDER_ID</key>
	<string>714763980316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hiscli.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hiscli-31d4a</string>
	<key>STORAGE_BUCKET</key>
	<string>hiscli-31d4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714763980316:ios:20de37a9865bc721fd59d9</string>
</dict>
</plist>